<!DOCTYPE html>
<html>
<head>
  <title>Status MongoDB</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous">
  </script>

</head>
<body>

MioStatus
<br>

<br>

<p id = "status"> "{{status}}" </p> <!--Ottenuto inizialmente da flask con jinja, poi modificato dalla update()-->


<script>

    var socket = io();

    var intervalId = window.setInterval(function(){
        socket.emit('updateRequest', {"data": ""})
    }, 5000); //Aggiorna lo status ogni 5 secondi

    socket.on('update', function(data){
        console.log("Ricevuto update")
        console.log(data)
        console.log(data['update'])
        $("#status")[0].innerHTML = data
        console.log($("#status"))
        console.log(data)
    })
  </script>

</body>
</html>