<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Status MongoDB</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/> <!--Replace with your tailwind.css once created-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>

</head>

<body class="bg-gray-800 font-sans leading-normal tracking-normal mt-12">

<header>
    <!--Nav-->
    <nav aria-label="menu nav" class="bg-gray-800 pt-2 md:pt-1 pb-1 px-1 mt-0 h-auto fixed w-full z-20 top-0">
        <div class="mx-auto flex items-center justify-center">
            <h1 class="text-2xl font-bold tracking-tight text-white sm:text-2xl">WebFuel</h1>
    </nav>
</header>


<main>

    <div class="flex flex-col md:flex-row">
        <nav aria-label="alternative nav">
            <div class="bg-gray-800 shadow-xl h-20 fixed bottom-0 mt-12 md:relative md:h-screen z-10 w-full md:w-48 content-center">

                <div class="md:mt-24 md:w-48 md:fixed md:left-0 md:top-0 content-center md:content-start text-left justify-between">
                    <ul class="list-reset flex flex-row md:flex-col pt-3 md:py-3 px-1 md:px-2 text-center md:text-left">
                        <li class="mr-3 flex-1">
                            <a href="#" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-purple-500">
                                <i class="fa fa-envelope pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-400 md:text-gray-200 block md:inline-block">Cluster</span>
                            </a>
                        </li>
                        <li class="mr-3 flex-1">
                            <a href="#" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-blue-600">
                                <i class="fas fa-chart-area pr-0 md:pr-3 text-blue-600"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-white md:text-white block md:inline-block">Database</span>
                            </a>
                        </li>
                        <li class="mr-3 flex-1">
                            <a href="#" class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-red-500">
                                <i class="fa fa-wallet pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-400 md:text-gray-200 block md:inline-block">Query</span>
                            </a>
                        </li>
                    </ul>
                </div>


            </div>
        </nav>
        <section>
            <div hidden id="main" class="main-content bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">

                <div class="bg-gray-800 pt-3">
                    <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
                        <h1 class="font-bold pl-2">Stato cluster</h1>
                    </div>
                </div>

                <div class="flex items-center justify-center flex-row flex-wrap flex-none mt-2">
                        
                        <div id= "nodeAdiv" class="w-full md:w-1/2 xl:w-1/6 p-6">

                            <img id = "nodeA" src="{{ url_for('static', filename='nodeunreachable.png') }}" class="image object-contain" alt="Node0">
                             <p id = "nodeAName" class="mt-2 text-lg text-center text-gray-500">Nodo A</p> 

                        </div>

                        <div id= "nodeBdiv" class="w-full md:w-1/2 xl:w-1/6 p-6">

                            <img id = "nodeB" src="{{ url_for('static', filename='nodeunreachable.png') }}" class="image object-contain" alt="Node1">
                            <p id = "nodeBName" class="mt-2 text-lg text-center text-gray-500">Nodo B</p> 

                        </div>

                        <div id="nodeCdiv" class="w-full md:w-1/2 xl:w-1/6 p-6">

                            <img id = "nodeC" src="{{ url_for('static', filename='nodeunreachable.png') }}" class="image object-contain" alt="Node2">
                            <p id = "nodeCName" class="mt-2 text-lg text-center text-gray-500">Nodo C</p> 

                        </div>

                    </div>

                <div class="flex flex-row flex-wrap flex-grow mt-2">

                <p id = "status"> </p> <!--Ottenuto inizialmente da flask con jinja, poi modificato dalla update()-->
                </div>
            </div>
        </section>
    </div>

    <script>

        function updateVisuals(data)
        {
            if(data.hasOwnProperty("nodeA"))    //status di errore
            {

                switch(data.nodeA)
                {
                    case "offline":
                        $("#nodeA")[0].src = "{{ url_for('static', filename='nodeunreachable.png') }}" 
                        break;
                    case "online":
                        $("#nodeA")[0].src = "{{ url_for('static', filename='node.png') }}" 
                        break;
                    case "waiting":
                        $("#nodeA")[0].src = "{{ url_for('static', filename='nodenoprimary.png') }}" 
                        break;
                    case "shutting":
                        $("#nodeA")[0].src = "{{ url_for('static', filename='nodequiescent.png') }}" 
                        break;
                    default:
                        break;
                }

                switch(data.nodeB)
                {
                    case "offline":
                        $("#nodeB")[0].src = "{{ url_for('static', filename='nodeunreachable.png') }}" 
                        break;
                    case "online":
                        $("#nodeB")[0].src = "{{ url_for('static', filename='node.png') }}" 
                        break;
                    case "waiting":
                        $("#nodeB")[0].src = "{{ url_for('static', filename='nodenoprimary.png') }}" 
                        break;
                    case "shutting":
                        $("#nodeB")[0].src = "{{ url_for('static', filename='nodequiescent.png') }}" 
                        break;
                    default:
                        break;
                }

                switch(data.nodeC)
                {
                    case "offline":
                        $("#nodeC")[0].src = "{{ url_for('static', filename='nodeunreachable.png') }}" 
                        break;
                    case "online":
                        $("#nodeC")[0].src = "{{ url_for('static', filename='node.png') }}" 
                        break;
                    case "waiting":
                        $("#nodeC")[0].src = "{{ url_for('static', filename='nodenoprimary.png') }}" 
                        break;
                    case "shutting":
                        $("#nodeC")[0].src = "{{ url_for('static', filename='nodequiescent.png') }}" 
                        break;
                    default:
                        break;
                }
            }
            else
            {                                   //status regolare
                var nodesNumber = Object.keys(data.members).length
                console.log(data.members) //Fa uno alla volta, altrimenti se perde connessione con i nodi crasha.
                $("#nodeAName")[0].innerHTML = data.members[0].name
                $("#nodeBName")[0].innerHTML = data.members[1].name  
                $("#nodeCName")[0].innerHTML = data.members[2].name

                if(data.members[0].health == 1)
                {
                    if(data.members[0].syncSourceHost == "")
                    {
                        $("#nodeA")[0].src = "{{ url_for('static', filename='nodeprimary.png') }}" 
                    }
                    else
                    {
                        $("#nodeA")[0].src = "{{ url_for('static', filename='node.png') }}" 
                    }
                }
                else 
                {
                    if(data.members[0].lastHeartbeatMessage == "The server is in quiesce mode and will shut down")
                    {
                        $("#nodeA")[0].src = "{{ url_for('static', filename='nodequiescent.png') }}"

                    }
                    else
                    {
                        $("#nodeA")[0].src = "{{ url_for('static', filename='nodeunreachable.png') }}"
                    }
                }
                
                if(data.members[1].health == 1)
                {
                    if(data.members[1].syncSourceHost == "")
                    {
                        $("#nodeB")[0].src = "{{ url_for('static', filename='nodeprimary.png') }}" 
                    }
                    else
                    {
                        $("#nodeB")[0].src = "{{ url_for('static', filename='node.png') }}" 
                    }
                }
                else 
                {
                    if(data.members[1].lastHeartbeatMessage == "The server is in quiesce mode and will shut down")
                    {
                        $("#nodeB")[0].src = "{{ url_for('static', filename='nodequiescent.png') }}"

                    }
                    else
                    {
                        $("#nodeB")[0].src = "{{ url_for('static', filename='nodeunreachable.png') }}"
                    }
                }
                if(data.members[2].health == 1)
                {
                    if(data.members[2].syncSourceHost == "")
                    {
                        $("#nodeC")[0].src = "{{ url_for('static', filename='nodeprimary.png') }}" 
                    }
                    else
                    {
                        $("#nodeC")[0].src = "{{ url_for('static', filename='node.png') }}" 
                    }
                }
                else 
                {
                    if(data.members[2].lastHeartbeatMessage == "The server is in quiesce mode and will shut down")
                    {
                        $("#nodeC")[0].src = "{{ url_for('static', filename='nodequiescent.png') }}"

                    }
                    else
                    {
                        $("#nodeC")[0].src = "{{ url_for('static', filename='nodeunreachable.png') }}"
                    }
                }
            }
        }

        $(document).ready(function(){
        })
        $(window).on('load', function(){
            $('#main').show()
            var intervalId = window.setInterval(function(){
                socket.emit('updateRequest', {"data": ""})
            }, 5000); //Aggiorna lo status ogni 5 secondi
        })

        var socket = io();
        socket.emit('updateRequest', {"data": ""})
    
        socket.on('update', function(data){
            console.log("Ricevuto update")
            console.log(data)
            console.log(data['update'])
            //$("#status")[0].innerHTML = JSON.stringify(data)
          updateVisuals(data)
        })
      </script>

</main>